@media (min-width: 1920px) {

    .sidebarLogo{
        padding: 0px 35px;
      }
      
      .siteLayoutLogo{
        height: 50px;
        width: 225px;
      } 
      
    .signInUpBody{
        margin-left: 100px;
        margin-top: 15px;
        padding-top: 25px;
        width: 100%;
    }
}